#section2 {
    height: 900px;
    /* background-image: url(./images/section2.jpg); */
    background-color: darkslategray;
    background-size: cover;
  }

  #section2 > h1 {
    text-align: center;
    margin: 0;
    position: absolute;
    margin-top: 5%;
    margin-left: 39%;
    font-family: monospace;
    color: cornsilk;
    text-shadow: 0 10px 10px black;
    border-bottom: 1px solid black;
  
    height: 43px;
  }
  input#showTitle {
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 38%;
    width: 338px;
    height: 34px;
    border: none;
    box-shadow: 0 0 10px black;
  }
  #submit-title {
    height: 35px;
    border: none;
    box-shadow: 0 0 10px black;
    color: darkred;
    border-radius: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    padding-top: 12%;
    gap: 20px;
  }
  
  .grid-item {
    box-shadow: 0 0 10px turquoise;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: cornsilk;
    font-size: 30px;
    text-align: left;
    width: 315px;
  }
  .grid-item > img {
    height: 180px;
  }
  #show-info > p {
    font-size: 12px;
  }
  