#section2 {
  height: 900px;
  background-color: whitesmoke;
  background-size: cover;
}

#section2 > h1 {
  text-align: center;
  margin: 0;
  position: absolute;
  margin-top: 5%;
  margin-left: 39%;
  font-family: monospace;
  color: grey;
  height: 43px;
}
input#showTitle {
border-radius: 10px;
margin-top: 7%;
margin-left: 32%;
width: 430px;
height: 29px;
border-radius: 38px;
border: none;
background-color: darkslategrey;
box-shadow: 0 0 10px black;
color: white;
padding: 16px;
font-size: 20px;
}
#submit-title {
  background-color: whitesmoke;
  height: 48px;
  border: none;
  padding: 10px;
  width: 57px;
  
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 100px;
  padding-top: 16%;
  gap: 20px;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: darkslategrey;
  font-size: 30px;
  text-align: left;
  box-shadow: 0 10px 10px darkslategrey;
  width: 344px;
  color: antiquewhite;
  color: mistyrose;
}
.grid-item > img {
  height: 257px;
}
#show-info > p {
  font-size: 12px;
  padding-left: 11px;
}
.sortBtns {
  display: flex;
  position: absolute;
  margin-top: 10px;
  margin-top: 11%;
  margin-left: 35%;
  gap: 50px;
}
.btn{
  background-color: darkslategray;
  border: none;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 10px 10px grey;
}
.sortBtns > button:hover{
  color: white;
  cursor: pointer;
  box-shadow: none;
}
.sortBtns > button:focus {outline:0;}
.active{
  background-color: gray;
  box-shadow: none;
}